@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-oELZRPDYX: #b70505;
  --plasmic-token-merah-jambu: var(--token-oELZRPDYX);
}

.plasmic_default_styles {
  --mixin-D1iYOsl5wd9Z_font-family: "Inter";
  --mixin-D1iYOsl5wd9Z_font-size: 16px;
  --mixin-D1iYOsl5wd9Z_font-weight: 400;
  --mixin-D1iYOsl5wd9Z_font-style: normal;
  --mixin-D1iYOsl5wd9Z_color: #535353;
  --mixin-D1iYOsl5wd9Z_text-align: left;
  --mixin-D1iYOsl5wd9Z_text-transform: none;
  --mixin-D1iYOsl5wd9Z_line-height: 1.5;
  --mixin-D1iYOsl5wd9Z_letter-spacing: normal;
  --mixin-D1iYOsl5wd9Z_white-space: pre-wrap;
  --mixin-D1iYOsl5wd9Z_user-select: text;
  --mixin-D1iYOsl5wd9Z_text-decoration-line: none;
  --mixin-D1iYOsl5wd9Z_text-overflow: clip;
  --mixin-n9LDugXICCXU_color: #000000;
  --mixin-n9LDugXICCXU_font-weight: 900;
  --mixin-n9LDugXICCXU_font-size: 72px;
  --mixin-n9LDugXICCXU_line-height: 1;
  --mixin-n9LDugXICCXU_letter-spacing: -4px;
  --mixin-n9LDugXICCXU_white-space: pre-wrap;
  --mixin-zx30nEAsfa7F_font-family: "Inter";
  --mixin-zx30nEAsfa7F_color: #000000;
  --mixin-zx30nEAsfa7F_font-size: 48px;
  --mixin-zx30nEAsfa7F_font-weight: 700;
  --mixin-zx30nEAsfa7F_letter-spacing: -1px;
  --mixin-zx30nEAsfa7F_line-height: 1.1;
  --mixin-zx30nEAsfa7F_white-space: pre-wrap;
  --mixin-CYWgyXFi9dtU_color: #0070f3;
  --mixin-CYWgyXFi9dtU_white-space: pre-wrap;
  --mixin-apDStnrKsMeX_font-family: "Inter";
  --mixin-apDStnrKsMeX_color: #000000;
  --mixin-apDStnrKsMeX_font-size: 32px;
  --mixin-apDStnrKsMeX_font-weight: 600;
  --mixin-apDStnrKsMeX_letter-spacing: -0.8px;
  --mixin-apDStnrKsMeX_line-height: 1.2;
  --mixin-apDStnrKsMeX_white-space: pre-wrap;
  --mixin-eLy2kfdDzOQ-_font-family: "Inter";
  --mixin-eLy2kfdDzOQ-_color: #000000;
  --mixin-eLy2kfdDzOQ-_font-size: 24px;
  --mixin-eLy2kfdDzOQ-_font-weight: 600;
  --mixin-eLy2kfdDzOQ-_letter-spacing: -0.5px;
  --mixin-eLy2kfdDzOQ-_line-height: 1.3;
  --mixin-eLy2kfdDzOQ-_white-space: pre-wrap;
  --mixin-Ca3O8SOMex88_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Ca3O8SOMex88_border-bottom-color: #dddddd;
  --mixin-Ca3O8SOMex88_border-bottom-style: solid;
  --mixin-Ca3O8SOMex88_border-bottom-width: 1px;
  --mixin-Ca3O8SOMex88_border-left-color: #dddddd;
  --mixin-Ca3O8SOMex88_border-left-style: solid;
  --mixin-Ca3O8SOMex88_border-left-width: 1px;
  --mixin-Ca3O8SOMex88_border-right-color: #dddddd;
  --mixin-Ca3O8SOMex88_border-right-style: solid;
  --mixin-Ca3O8SOMex88_border-right-width: 1px;
  --mixin-Ca3O8SOMex88_border-top-color: #dddddd;
  --mixin-Ca3O8SOMex88_border-top-style: solid;
  --mixin-Ca3O8SOMex88_border-top-width: 1px;
  --mixin-Ca3O8SOMex88_border-bottom-left-radius: 3px;
  --mixin-Ca3O8SOMex88_border-bottom-right-radius: 3px;
  --mixin-Ca3O8SOMex88_border-top-left-radius: 3px;
  --mixin-Ca3O8SOMex88_border-top-right-radius: 3px;
  --mixin-Ca3O8SOMex88_font-family: "Inconsolata";
  --mixin-Ca3O8SOMex88_padding-bottom: 1px;
  --mixin-Ca3O8SOMex88_padding-left: 4px;
  --mixin-Ca3O8SOMex88_padding-right: 4px;
  --mixin-Ca3O8SOMex88_padding-top: 1px;
  --mixin-Ca3O8SOMex88_white-space: pre-wrap;
  --mixin-e7JB3srw61Za_border-left-color: #dddddd;
  --mixin-e7JB3srw61Za_border-left-style: solid;
  --mixin-e7JB3srw61Za_border-left-width: 3px;
  --mixin-e7JB3srw61Za_color: #888888;
  --mixin-e7JB3srw61Za_padding-left: 10px;
  --mixin-e7JB3srw61Za_white-space: pre-wrap;
  --mixin-Kj0L4XgBQNb6T_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Kj0L4XgBQNb6T_border-bottom-color: #dddddd;
  --mixin-Kj0L4XgBQNb6T_border-bottom-style: solid;
  --mixin-Kj0L4XgBQNb6T_border-bottom-width: 1px;
  --mixin-Kj0L4XgBQNb6T_border-left-color: #dddddd;
  --mixin-Kj0L4XgBQNb6T_border-left-style: solid;
  --mixin-Kj0L4XgBQNb6T_border-left-width: 1px;
  --mixin-Kj0L4XgBQNb6T_border-right-color: #dddddd;
  --mixin-Kj0L4XgBQNb6T_border-right-style: solid;
  --mixin-Kj0L4XgBQNb6T_border-right-width: 1px;
  --mixin-Kj0L4XgBQNb6T_border-top-color: #dddddd;
  --mixin-Kj0L4XgBQNb6T_border-top-style: solid;
  --mixin-Kj0L4XgBQNb6T_border-top-width: 1px;
  --mixin-Kj0L4XgBQNb6T_border-bottom-left-radius: 3px;
  --mixin-Kj0L4XgBQNb6T_border-bottom-right-radius: 3px;
  --mixin-Kj0L4XgBQNb6T_border-top-left-radius: 3px;
  --mixin-Kj0L4XgBQNb6T_border-top-right-radius: 3px;
  --mixin-Kj0L4XgBQNb6T_font-family: "Inconsolata";
  --mixin-Kj0L4XgBQNb6T_padding-bottom: 3px;
  --mixin-Kj0L4XgBQNb6T_padding-left: 6px;
  --mixin-Kj0L4XgBQNb6T_padding-right: 6px;
  --mixin-Kj0L4XgBQNb6T_padding-top: 3px;
  --mixin-Kj0L4XgBQNb6T_white-space: pre-wrap;
  --mixin-lUQvaJLKR4ioD_display: flex;
  --mixin-lUQvaJLKR4ioD_flex-direction: column;
  --mixin-lUQvaJLKR4ioD_align-items: stretch;
  --mixin-lUQvaJLKR4ioD_justify-content: flex-start;
  --mixin-lUQvaJLKR4ioD_list-style-position: outside;
  --mixin-lUQvaJLKR4ioD_padding-left: 40px;
  --mixin-lUQvaJLKR4ioD_position: relative;
  --mixin-lUQvaJLKR4ioD_list-style-type: disc;
  --mixin-lUQvaJLKR4ioD_white-space: pre-wrap;
  --mixin-5g7JR-pzBRGSW_display: flex;
  --mixin-5g7JR-pzBRGSW_flex-direction: column;
  --mixin-5g7JR-pzBRGSW_align-items: stretch;
  --mixin-5g7JR-pzBRGSW_justify-content: flex-start;
  --mixin-5g7JR-pzBRGSW_list-style-position: outside;
  --mixin-5g7JR-pzBRGSW_padding-left: 40px;
  --mixin-5g7JR-pzBRGSW_position: relative;
  --mixin-5g7JR-pzBRGSW_list-style-type: decimal;
  --mixin-5g7JR-pzBRGSW_white-space: pre-wrap;
  --mixin-gjlKfWFQl9MKB_font-family: "Inter";
  --mixin-gjlKfWFQl9MKB_color: #000000;
  --mixin-gjlKfWFQl9MKB_font-size: 20px;
  --mixin-gjlKfWFQl9MKB_font-weight: 600;
  --mixin-gjlKfWFQl9MKB_letter-spacing: -0.3px;
  --mixin-gjlKfWFQl9MKB_line-height: 1.5;
  --mixin-gjlKfWFQl9MKB_white-space: pre-wrap;
  --mixin-ew-XeJMJHCz_G_font-family: "Inter";
  --mixin-ew-XeJMJHCz_G_color: #000000;
  --mixin-ew-XeJMJHCz_G_font-size: 16px;
  --mixin-ew-XeJMJHCz_G_font-weight: 600;
  --mixin-ew-XeJMJHCz_G_line-height: 1.5;
  --mixin-ew-XeJMJHCz_G_white-space: pre-wrap;
  --mixin-E06OGVNimhich_color: #3291ff;
  --mixin-E06OGVNimhich_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-D1iYOsl5wd9Z_font-family);
  font-size: var(--mixin-D1iYOsl5wd9Z_font-size);
  font-weight: var(--mixin-D1iYOsl5wd9Z_font-weight);
  font-style: var(--mixin-D1iYOsl5wd9Z_font-style);
  color: var(--mixin-D1iYOsl5wd9Z_color);
  text-align: var(--mixin-D1iYOsl5wd9Z_text-align);
  text-transform: var(--mixin-D1iYOsl5wd9Z_text-transform);
  line-height: var(--mixin-D1iYOsl5wd9Z_line-height);
  letter-spacing: var(--mixin-D1iYOsl5wd9Z_letter-spacing);
  white-space: var(--mixin-D1iYOsl5wd9Z_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-n9LDugXICCXU_color);
  font-weight: var(--mixin-n9LDugXICCXU_font-weight);
  font-size: var(--mixin-n9LDugXICCXU_font-size);
  line-height: var(--mixin-n9LDugXICCXU_line-height);
  letter-spacing: var(--mixin-n9LDugXICCXU_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-zx30nEAsfa7F_font-family);
  color: var(--mixin-zx30nEAsfa7F_color);
  font-size: var(--mixin-zx30nEAsfa7F_font-size);
  font-weight: var(--mixin-zx30nEAsfa7F_font-weight);
  letter-spacing: var(--mixin-zx30nEAsfa7F_letter-spacing);
  line-height: var(--mixin-zx30nEAsfa7F_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-CYWgyXFi9dtU_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-apDStnrKsMeX_font-family);
  color: var(--mixin-apDStnrKsMeX_color);
  font-size: var(--mixin-apDStnrKsMeX_font-size);
  font-weight: var(--mixin-apDStnrKsMeX_font-weight);
  letter-spacing: var(--mixin-apDStnrKsMeX_letter-spacing);
  line-height: var(--mixin-apDStnrKsMeX_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-eLy2kfdDzOQ-_font-family);
  color: var(--mixin-eLy2kfdDzOQ-_color);
  font-size: var(--mixin-eLy2kfdDzOQ-_font-size);
  font-weight: var(--mixin-eLy2kfdDzOQ-_font-weight);
  letter-spacing: var(--mixin-eLy2kfdDzOQ-_letter-spacing);
  line-height: var(--mixin-eLy2kfdDzOQ-_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-Ca3O8SOMex88_background);
  font-family: var(--mixin-Ca3O8SOMex88_font-family);
  border-radius: var(--mixin-Ca3O8SOMex88_border-top-left-radius)
    var(--mixin-Ca3O8SOMex88_border-top-right-radius)
    var(--mixin-Ca3O8SOMex88_border-bottom-right-radius)
    var(--mixin-Ca3O8SOMex88_border-bottom-left-radius);
  padding: var(--mixin-Ca3O8SOMex88_padding-top)
    var(--mixin-Ca3O8SOMex88_padding-right)
    var(--mixin-Ca3O8SOMex88_padding-bottom)
    var(--mixin-Ca3O8SOMex88_padding-left);
  border-top: var(--mixin-Ca3O8SOMex88_border-top-width)
    var(--mixin-Ca3O8SOMex88_border-top-style)
    var(--mixin-Ca3O8SOMex88_border-top-color);
  border-right: var(--mixin-Ca3O8SOMex88_border-right-width)
    var(--mixin-Ca3O8SOMex88_border-right-style)
    var(--mixin-Ca3O8SOMex88_border-right-color);
  border-bottom: var(--mixin-Ca3O8SOMex88_border-bottom-width)
    var(--mixin-Ca3O8SOMex88_border-bottom-style)
    var(--mixin-Ca3O8SOMex88_border-bottom-color);
  border-left: var(--mixin-Ca3O8SOMex88_border-left-width)
    var(--mixin-Ca3O8SOMex88_border-left-style)
    var(--mixin-Ca3O8SOMex88_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-e7JB3srw61Za_color);
  padding-left: var(--mixin-e7JB3srw61Za_padding-left);
  border-left: var(--mixin-e7JB3srw61Za_border-left-width)
    var(--mixin-e7JB3srw61Za_border-left-style)
    var(--mixin-e7JB3srw61Za_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-Kj0L4XgBQNb6T_background);
  font-family: var(--mixin-Kj0L4XgBQNb6T_font-family);
  border-radius: var(--mixin-Kj0L4XgBQNb6T_border-top-left-radius)
    var(--mixin-Kj0L4XgBQNb6T_border-top-right-radius)
    var(--mixin-Kj0L4XgBQNb6T_border-bottom-right-radius)
    var(--mixin-Kj0L4XgBQNb6T_border-bottom-left-radius);
  padding: var(--mixin-Kj0L4XgBQNb6T_padding-top)
    var(--mixin-Kj0L4XgBQNb6T_padding-right)
    var(--mixin-Kj0L4XgBQNb6T_padding-bottom)
    var(--mixin-Kj0L4XgBQNb6T_padding-left);
  border-top: var(--mixin-Kj0L4XgBQNb6T_border-top-width)
    var(--mixin-Kj0L4XgBQNb6T_border-top-style)
    var(--mixin-Kj0L4XgBQNb6T_border-top-color);
  border-right: var(--mixin-Kj0L4XgBQNb6T_border-right-width)
    var(--mixin-Kj0L4XgBQNb6T_border-right-style)
    var(--mixin-Kj0L4XgBQNb6T_border-right-color);
  border-bottom: var(--mixin-Kj0L4XgBQNb6T_border-bottom-width)
    var(--mixin-Kj0L4XgBQNb6T_border-bottom-style)
    var(--mixin-Kj0L4XgBQNb6T_border-bottom-color);
  border-left: var(--mixin-Kj0L4XgBQNb6T_border-left-width)
    var(--mixin-Kj0L4XgBQNb6T_border-left-style)
    var(--mixin-Kj0L4XgBQNb6T_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-lUQvaJLKR4ioD_display);
  flex-direction: var(--mixin-lUQvaJLKR4ioD_flex-direction);
  align-items: var(--mixin-lUQvaJLKR4ioD_align-items);
  justify-content: var(--mixin-lUQvaJLKR4ioD_justify-content);
  list-style-position: var(--mixin-lUQvaJLKR4ioD_list-style-position);
  padding-left: var(--mixin-lUQvaJLKR4ioD_padding-left);
  position: var(--mixin-lUQvaJLKR4ioD_position);
  list-style-type: var(--mixin-lUQvaJLKR4ioD_list-style-type);
  flex-column-gap: var(--mixin-lUQvaJLKR4ioD_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-5g7JR-pzBRGSW_display);
  flex-direction: var(--mixin-5g7JR-pzBRGSW_flex-direction);
  align-items: var(--mixin-5g7JR-pzBRGSW_align-items);
  justify-content: var(--mixin-5g7JR-pzBRGSW_justify-content);
  list-style-position: var(--mixin-5g7JR-pzBRGSW_list-style-position);
  padding-left: var(--mixin-5g7JR-pzBRGSW_padding-left);
  position: var(--mixin-5g7JR-pzBRGSW_position);
  list-style-type: var(--mixin-5g7JR-pzBRGSW_list-style-type);
  flex-column-gap: var(--mixin-5g7JR-pzBRGSW_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-gjlKfWFQl9MKB_font-family);
  color: var(--mixin-gjlKfWFQl9MKB_color);
  font-size: var(--mixin-gjlKfWFQl9MKB_font-size);
  font-weight: var(--mixin-gjlKfWFQl9MKB_font-weight);
  letter-spacing: var(--mixin-gjlKfWFQl9MKB_letter-spacing);
  line-height: var(--mixin-gjlKfWFQl9MKB_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-ew-XeJMJHCz_G_font-family);
  color: var(--mixin-ew-XeJMJHCz_G_color);
  font-size: var(--mixin-ew-XeJMJHCz_G_font-size);
  font-weight: var(--mixin-ew-XeJMJHCz_G_font-weight);
  line-height: var(--mixin-ew-XeJMJHCz_G_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_expr_html_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-E06OGVNimhich_color);
}
